[submodule "src/components/axp192"]
	path = src/components/axp192
	url = https://github.com/yallico/axp192
[submodule "src/components/i2c_manager"]
	path = src/components/i2c_manager
	url = https://github.com/yallico/esp_ic2_manager
[submodule "src/components/m5core2_axp192"]
	path = src/components/m5core2_axp192
	url = https://github.com/yallico/m5core2_axp192
[submodule "src/components/lvgl"]
	path = src/components/lvgl
	url = https://github.com/lvgl/lvgl
	branch = release/v7
[submodule "src/components/lvgl_esp32_drivers"]
	path = src/components/lvgl_esp32_drivers
	url = https://github.com/yallico/lvgl_esp32_drivers
[submodule "ir_board"]
	path = ir_board
	url = https://github.com/yallico/Swarm-B2
