[submodule "src/components/axp192"]
	path = src/components/axp192
	url = https://github.com/yallico/axp192
[submodule "src/components/esp_i2c_helper"]
	path = src/components/esp_i2c_helper
	url = https://github.com/yallico/esp_i2c_helper
